example.com {
    log {
		output stdout
		format console
		level INFO
	}

	tls yehor@example.com

	root * /app/frontend/public

	php_fastcgi localhost:9000 {
		header_up Host {host}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
	}

	file_server
}
